@model IEnumerable<Ictshop.Models.Comment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaNguoiDung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenNguoiDung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NDBinhLuan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayDang)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaNguoiDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenNguoiDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NDBinhLuan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDang)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaBL }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaBL }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaBL })
        </td>
    </tr>
}

</table>
